<ion-header>
    <ion-navbar>
        <ion-title>
            Meeting Recorder App
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <div>
        <b>Audio Recorder</b>
    </div>
    <button ion-button (click)="startRecording()">
        Start recording
    </button>
    <button ion-button (click)="stopRecording()">
        Stop recording
    </button>

    <div *ngIf="recording">
        Recording
    </div>

    <div *ngIf="recorded">
        <button ion-button (click)="playRecording()">
            Start playback
        </button>
        <button ion-button (click)="stopRecordingPlay()">
            Stop playback
        </button>
        <button ion-button (click)="release()">
            Release
        </button>
    </div>


    <br>
    TEST
    <br>


    {{readDATAURL}}


    <li *ngFor="let obj of readDATAURL">{{obj | json}}</li>

    <!--<ion-list>-->
        <!--<ion-item *ngFor="let post of posts">-->
            <!--<img [src]="post.data.url" />-->
        <!--</ion-item>-->
    <!--</ion-list>-->

    <button ion-button (click)="playRecordingSWA()">
       Play Shwa File
    </button>
    <button ion-button (click)="googleAPI(true)">
       Google API  Shwa File
    </button>
    <button ion-button (click)="googleAPI(false)">
       Google API  Recording
    </button>

    <!--<div class="encoded">-->
        <!--encoded audio-->
        <!--&lt;!&ndash;{{encodedAudio.substring(0, 10)}}&ndash;&gt;-->
        <!--<ion-input   placeholder="encodedbase64" [value]="encodedAudio" [(ngModel)]="encodedAudio"></ion-input>-->


    <!--</div>-->


    <!--<div>-->
        <!--<li *ngFor="let obj of APIdata">{{obj | json}}</li>-->
    <!--</div>-->

    <!--<div>-->
        <!--<li *ngFor="let obj of APIresponse">{{obj | json}}</li>-->
    <!--</div>-->

    <div>
        {{speechText}}
    </div>

    <!--<ion-input placeholder="path" [value]="path" [(ngModel)]="path"></ion-input>-->
    <!--<ion-input placeholder="directory" [value]="pathDirectory" [(ngModel)]="pathDirectory"></ion-input>-->
    <!--<button ion-button (click)="listDir()">-->
        <!--ListDir-->
    <!--</button>-->

    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->

    <!--<div>-->
        <!--1-->
    <!--</div>-->
    <!--<li *ngFor="let obj of directory">{{obj.nativeURL | json}}</li>-->
    <!--<div>-->
        <!--2-->
    <!--</div>-->
    <!--<li *ngFor="let obj of directory1">{{obj.nativeURL | json}}</li>-->
    <!--<div>-->
        <!--3-->
    <!--</div>-->
    <!--<li *ngFor="let obj of directory2">{{obj.nativeURL | json}}</li>-->



<!--{{directory}}-->
<!--{{directory1}}-->
<!--{{directory2}}-->
    <!--<li *ngFor="let obj of directory2">{{obj | json}}</li>-->


    <div style="display: none">
    <div class="app-button-container">
        <button ion-button (click)="isSpeechSupported()">Is Speech Supported?</button>
        <button ion-button (click)="getPermission()">Get Permission</button>
        <button ion-button (click)="hasPermission()">Has Permission?</button>
        <button ion-button (click)="getSupportedLanguages()">Get Supported Languages</button>
        <button ion-button (click)="listenForSpeech()">Listen for Speech</button>

    </div>

    <br>

    Output

    <div *ngFor="let speech of speechList">
        <p>{{speech}}</p>
    </div>
    </div>

    <!--<div>-->
    <!--{{speechList}}-->
    <!--</div>-->

</ion-content>
<!--<ion-header>-->
<!--<ion-navbar [color]="isRecording ? 'danger' : 'primary'">-->
<!--<ion-title>-->
<!--Listen to Me-->
<!--</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
<!--<button ion-button full (click)="getPermission()">Get Permission</button>-->
<!--<button ion-button full (click)="startListening()">Start Listening</button>-->
<!--<button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>-->

<!--<ion-card>-->
<!--<ion-card-header>This is what I understood...</ion-card-header>-->
<!--<ion-card-content>-->
<!--<ion-list>-->
<!--<ion-item *ngFor="let match of matches">-->
<!--{{ match }}-->
<!--</ion-item>-->
<!--</ion-list>-->
<!--</ion-card-content>-->
<!--</ion-card>-->
<!--</ion-content>-->